<footer class="footer has-background-black has-text-white">
    <div class="content has-text-centered">
        <p class="is-size-2">Made by Aslan Kazimov using <a href="https://bulma.io" rel="noreferrer nofollow">Bulma</a></p>
        <p class="is-size-5">@DateTime.Now.Year - Kazimov Aslan. All rights reserved.</p>
    </div>
</footer>
