<header>
    <nav class="navbar has-background-link-dark pl-5 pr-5" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item is-size-4 has-text-light" href="/Home/Index">
                Home
            </a>
            <a class="navbar-item is-size-4 has-text-light" href="/Home/About">
                About
            </a>
            <a class="navbar-item is-size-4 has-text-light" href="/Home/Posts">
                Posts
            </a>
            <a class="navbar-item is-size-4 has-text-light" href="/Home/Projects">
                Projects
            </a>
        </div>
    </nav>
</header>
