
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="hero is-black">
    <div class="hero-body">
        <figure class="image ml-auto mr-auto" style="max-width: 550px;">
            <img src="~/Images/me.jpg" />
        </figure>
        <section class="section">
            <div class="heading">
                <h2 class="title has-text-centered">About me</h2>
            </div>
            <h3 class="subtitle has-text-centered">Take a look through some of my skills and knowledge!</h3>
        </section>
        <section class="section">
            <div class="heading">
                <h2 class="title has-text-centered">Skills</h2>
            </div>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>JavaScript:</strong>
                            <br>
                            <progress class="progress is-primary" value="90" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Python:</strong>
                            <br>
                            <progress class="progress is-primary" value="65" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>NodeJS:</strong>
                            <br>
                            <progress class="progress is-primary" value="85" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>NextJS:</strong>
                            <br>
                            <progress class="progress is-primary" value="95" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Linux:</strong>
                            <br>
                            <progress class="progress is-primary" value="98" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>SQL:</strong>
                            <br>
                            <progress class="progress is-primary" value="75" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>C#:</strong>
                            <br>
                            <progress class="progress is-primary" value="55" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>ExpressJS:</strong>
                            <br>
                            <progress class="progress is-primary" value="80" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>VueJS:</strong>
                            <br>
                            <progress class="progress is-primary" value="60" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>Opencart (PHP):</strong>
                            <br>
                            <progress class="progress is-primary" value="75" max="100"></progress>
                        </p>
                    </div>
                </div>
            </article>
        </section>
        <section class="section">
            <div class="heading mb-5">
                <h2 class="title has-text-centered">Languages</h2>
            </div>
                <h3 class="subtitle has-text-centered">Just a couple of languages I speak</h3>
            <div class="is-flex is-flex-direction-row is-justify-content-center">
                <table class="table is-dark is-size-4 has-background-black has-text-white">
                    <tbody>
                        <tr>
                            <td>Russian:</td>
                            <td>Native</td>
                        </tr>
                        <tr>
                            <td>Azerbaijani:</td>
                            <td>Native</td>
                        </tr>
                        <tr>
                            <td>English:</td>
                            <td>Advanced</td>
                        </tr>
                        <tr>
                            <td>Japanese:</td>
                            <td>Pre-Intermediate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="section">
            <div class="heading mb-5">
                <h2 class="title has-text-centered">Work Experience</h2>
            </div>
            <article>
                <div>
                    <h3 class="is-size-3">Lead Full Stack Developer at Nano Electronics (February 2022 - August 2022)</h3>
                    <p class="subtitle">
                        Worked as the sole (and hence lead) web developer at <a class="has-text-link" href="https://nano.az">Nano Electronics</a><br />
                        Carried the project from early stages up until its current state, used in production.<br/>
                        Stack used: Opencart (back-end), Twig with custom CSS (front-end). The project itself resides on a server.<br/>
                        Aside from main title, was also responsible for backup management, migrating and DevOps in general.
                    </p>
                </div>
            </article>
        </section>
        <hr/>
        <section class="section">
            <div class="heading mb-5">
                <h2 class="title has-text-centered">External links</h2>
            </div>
            <p class="is-size-5">
                Want to learn more? Visit my <a class="has-text-link" href="https://github.com/Pipirok">Github profile</a>!
            </p>
        </section>
    </div>
</div>