
@{
    ViewBag.Title = "Welcome to Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero is-black is-fullheight is-fullheight-with-navbar mb-5">
    <div class="hero-body">
        <div class="tile is-ancestor is-vertical">
            <div class="tile is-parent">
                <div class="tile is-child is-8 p-2">
                    <div style="height: 100%;" class="is-flex is-flex-direction-column is-justify-content-center">
                        <div class="">
                            <h1 class="is-size-1 title">Aslan Kazimov</h1>
                            <h2 class="is-size-2 subtitle">Back-end (&amp; sometimes front-end) developer</h2>
                        </div>
                    </div>
                </div>
                <div class="tile is-child is-4 p-2">
                    <figure class="image">
                        <img src="~/Images/me.jpg" alt="main image" />
                    </figure>
                </div>
            </div>
            <hr />
            <div class="tile is-parent">
                <div class="container">
                    <p class="is-size-4 has-text-centered">Welcome to my small personal blog! You can learn more about me and my projects. You can also read what I have to say over at the blog part!</p>
                </div>
            </div>
        </div>

    </div>
</section>